{{>header}}

<table border="3" style="width:90%;table-layout:fixed;">
    <tr>
        <th class="header" scope="col">
            IMIĘ I NAZWISKO
        </th>
        <th class="header" style="width:40%;" scope="col">
            PEŁNE DANE ADRESOWE
        </th>
        <th class="header" scope="col">
            AKTYWNY LINK DO STRONY WWW UŻYTKOWNIKA
        </th>
    </tr>
</table>

{{#each users}}
<table border="1" style="width:90%;table-layout:fixed;">
    <tr>
        <td class="name" rowspan="6">
            {{name}}
        </td>
        <td class="address">
            <b>ULICA:</b> {{address.street}}
        </td>
        <td class="website" rowspan="6">
            {{website}}
        </td>
    </tr>
    <tr>
        <td class="address">
            <b>NUMER APARTAMENTU:</b> {{address.suite}}
        </td>
    </tr>
    <tr>
        <td class="address">
            <b>KOD POCZTOWY:</b> {{address.zipcode}}
        </td>
    </tr>
    <tr>
        <td class="address">
            <b>MIEJSCOWOŚĆ:</b> {{address.city}}
        </td>
    </tr>
    <tr>
        <td class="address">
            <b>SZEROKOŚĆ GEO:</b> {{address.geo.lat}}
        </td>
    </tr>
    <tr>
        <td class="address">
            <b>DŁUGOŚĆ GEO:</b> {{address.geo.lng}}
        </td>
    </tr>
</table>
{{/each}}